"fastapi[standard]"
"uvicorn[standard]"
"pymongo[srv]==3.12" # this is for mongo db 
dotenv
motor

pip install bcrypt==4.0.1
pip install passlib==1.7.4

pip install fastapi-mail
pip install python-multipart
pip install "passlib[bcrypt]"
pip install "python-jose[cryptography]"